{% extends "jobs.html" %}

{% block jobs %}
<h1>Pay and working hours for servants and workers in the 19th century</h1>
<p>In the 1850s, working hours were generally not very good. Public people wanted shops to be open whenever they might need them, so shops often stayed open quite late. In early 1850 shopkeepers started agreeing to close shops at 7 o'clock in the winter, with the exception of Saturdays, when people did the most late night shopping. in 1885 shopkeepers in Christchurch became able to close for half a day on Thursdays. this soon spread to other cities, including Dunedin.</p>
<p>Other jobs were not as lucky. Servants earned only 10 shillings (roughly $75 today) per week on average. A good cook could earn up to 20 shillings ($150 today) per week, which is roughly the same as a farm labourer, but still less than most shop assistants.</p>
{% endblock %}