{% extends "jobs.html" %}

{% block jobs %}
<h1>Conditions for workers in the late 19th century</h1>
<p>Around the 1880s it was often public belief that factories had very poor working conditions. The idea of long hours, bad conditions and terrible wages was linked especially to the clothing industry. In 1890 a royal commission which became known as the sweating commission began investigating factory labour practices. The factories acts of 1891 and 1894 were introduced, which required all factories to be registered.
</p>

<p>A new department, the Department of Labour, was formed as well as its factory inspection branch. When the department inspected the factories, they were found to be generally good, especially the larger ones.
</p>
{% endblock %}