{% extends "jobs.html" %}

{% block jobs %}
<h1>The lack of servants in New Zealand</h1>
<p>Often women who had decided to emigrate to New zealand had ambitions above being a servant. Many left service to marry, much earlier on average than in Britain. Other women sought out hotel and factory jobs, because they had better pay, less hours and also the company of large numbers of other workers. This caused settlers to start doing their own housework, and some discovered that they were actually quite good at housework such as cooking.
</p>
{% endblock %}