{% extends "jobs.html" %}

{% block jobs %}
<h1>Ages of workers for different jobs in the 19th century</h1>
<p>In the late 19th century, a child was officially a youth at age 12. This was also the age that a child would leave free schools. Before 1873 there were very few restrictions on youths labour. Many young people worked in factories and offices, which had better appeal than working as a domestic servant. Office work usually had to have extra training, especially in filing and typing. This had to be done at secondary schools, which were too expensive for most children</p>
{% endblock %}
