{% extends 'base.html' %}

{% block content %}
Surprize!!!
Surprize!!!
<div class="container">
        {% block jobs %} <h1>Jobs in the mid/late 19th century </h1> {% endblock %}
    </div>
 <simple>
 <a href="/jobs/general" class="main-btn">The general servant</a>
 <a href="/jobs/other" class="main-btn">Other house jobs</a>
 <a href="/jobs/conditions" class="main-btn">Living conditions</a>
 <a href="/jobs/pay" class="main-btn">Hours and pay</a>
 <a href="/jobs/ages" class="main-btn">Employment ages</a>
 </simple>
{% endblock %}
g
