{% extends 'base.html' %}

{% block content %}
Surprize!!!
Surprize!!!
<div class="container">
        {% block medical %} <h1>Jobs in the mid/late 19th century </h1> {% endblock %}
    </div>
 <simple>
 <a href="http://www.pefe.co.uk:5555/medicine/anasthesia" class="main-btn">Anaesthesia</a>
 <a href="http://www.pefe.co.uk:5555/medicine/surgery" class="main-btn">Surgery</a>
 <a href="http://www.pefe.co.uk:5555/medicine/service" class="main-btn">Service</a>
 <a href="http://www.pefe.co.uk:5555/medicine/remedies" class="main-btn">Natural Remedies</a>
 <a href="http://www.pefe.co.uk:5555/medicine/diseases" class="main-btn">Diseases</a>
 </simple>
{% endblock %}
