{% extends 'base.html' %}

{% block content %}
Surprize!!!
Surprize!!!
<div class="container">
        {% block jobs %} <h1>Jobs in the mid/late 19th century </h1> {% endblock %}
    </div>
 <simple>
 <a href="/jobs/service" class="main-btn">Domestic service</a>
 <a href="/jobs/shortage" class="main-btn">Servant shortages</a>
 <a href="/jobs/conditions" class="main-btn">Working conditions</a>
 <a href="/jobs/pay" class="main-btn">Hours and pay</a>
 <a href="/jobs/ages" class="main-btn">Employment ages</a>
 </simple>
{% endblock %}
g
