{% extends "medicine.html" %}

{% block medical %}
<h1>Natural remedies from 1850 to 1900</h1>
<p>Leaves, roots and plants  are all things that are not really associated with medicine, but for some people in the 1850s that’s all they had. Some stuff they used includes Kawakawa Leaves, Harakeke roots, Koromiko leaves beaten and crushed and the bark of a Rata tree bark all for different purposes. Rata Tree bark was soaked in water then applied as a lotion Kawakawa leaves were used to treat cuts,wounds and stomach aches.</p>
{% endblock %}