{% extends "medicine.html" %}

{% block medical %}
<h1>Anaesthesia from 1850 to 1900</h1>
<p>Anesthesia was invented on October 16th 1846 before its invention, pain was expected during surgery, because you were still awake. Imagine going to get an amputation and just being awake for the whole process, that would hurt, so then anesthesia was invented. It was first made with drugs like cocaine and alcohol.Then they tried chloroform, Bad Idea a few people died and then they discovered laughing gas which was great for everyone. Now surgery is pain free thanks to anasthesia!</p>
{% endblock %}