{% extends "medicine.html" %}

{% block medical %}
<h1>Surgery from 1850 to 1900</h1>
<p>You may have read the Anesthesia link but this one is about the equipment, sanitization and operation.</p>
<p>If I showed you a picture of old surgical instruments you might think they were construction tools. This image below is an old amputation kit from the 1850s. Looks scary right but you know what's even scarier the fact that they had very poor sanitation and health codes.
</p>
<img src="{{ url_for('static',  filename='amputation.jpg') }}" width=50% alt="An 1850s amputation kit">
{% endblock %}