{% extends 'base.html' %}

{% block content %} 
Surprize!!! 
Surprize!!!
<div class="container">
        {% block medical %} <h1>Medicine in the mid/late 19th century </h1>
    <p>
        A big part of New Zealand history is medicine. Whether it's natural Maori remedies or modern medicine they all have one common goal, to make you feel better. There are many different diseases that need treatment in many different ways.
</p><p>
I have put some buttons below that take you to some pages that have information.
    </p>
        {% endblock %}
    </div>
 <simple>
 <a href="/medicine/anasthesia" class="main-btn">Anaesthesia</a>
 <a href="/medicine/surgery" class="main-btn">Surgery</a>
 <a href="/medicine/service" class="main-btn">Service</a>
 <a href="/medicine/remedies" class="main-btn">Natural Remedies</a>
 <a href="/medicine/diseases" class="main-btn">Diseases</a>
 </simple>
{% endblock %}
